.header {
    height: 70px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 25px;
    background-color: rgba($color: #242325, $alpha: 1);
    -webkit-box-shadow: 5px 5px 15px 5px rgba(0,0,0,0.20); 
    box-shadow: 5px 5px 15px 5px rgba(0,0,0,0.20);
  
    .logo-container {
      height: 100%;
      width: auto;
      padding: 20px;
    
      .logo {
        object-fit: contain;
        object-position: center;
        height: 30px;
        width: auto;
        cursor: pointer;
      }
    }
  
    .options {
      width: 50%;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: flex-end;
  
      .option {
        padding: 10px 15px;
        cursor: pointer;
      }
    }
  }
  